{% extends 'main/layout.html' %}
{% load static %}

{% block settings %}
    <link rel="stylesheet" href="{% static 'main/css/activate.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block body %}
    <div class = 'main-container'>
        <img class = 'logo-activate' src = "{% static 'main/images/green-tea-icon.png'%}"></img>
        <p class = 'welcome-header'>Добро пожаловать {{request.user.FirstName}} {{request.user.LastName}}!</p>
        <p class = 'welcome-text'>Ваш аккаунт успешно создан</p>
        <a href="/" class = 'btn btn-success'>На главную</a>
    </div>
    
    
{% endblock %}