body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100%;
}



.navbar-1 {
    width: 100%;
    height: 50px;
    background: rgba(245, 242, 242, 0.7)
}

.navbar-1 .navbar-block {
    display: inline-block;
    line-height: 50px;
}

.logo-image {
    width: 100px;
    height: 50px;
}

.right-objects {
    float: right;
    margin-right: 50px;
}

.right-objects .right-object{
    display: inline-block;
    margin: 0 10px;
    color:rgba(175, 175, 175, 0.7);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}


.navbar-2 {
    width: 100%;
    height: 60px;
    background: rgba(235, 235, 235, 0.7);
    margin-top: 0px;
}


.container {
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    line-height: 60px;
    margin: 0 10px;
    transition: 3s;
  }

.dropdown-toggle {
    color:rgba(175, 175, 175, 0.7);
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    padding: 8px 15px 8px 15px;
    transition: .2s;
}


  
.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    padding: 10px;
    width: 60vw;
    margin-left: -25vw;
    border-radius: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-toggle:hover{
    color: rgba(98, 187, 71, 0.7);
    background-color: rgba(235, 235, 235, 0.7)
}


.dropdown-content .right-object{
    display: inline-block;
}


.type-link {
    display: inline-block;
    margin-left: 20px;
    margin: 0px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color:rgb(59, 59, 59);
    background:  #f5f4f4;
    border-radius: 8px;
    padding: 0px 15px 0px 15px;
}

.dropdown-content div {
    display: inline-block;
    margin: 10px 20px 10px 20px;
}

.dropdown-title {
    float: left;
}

/* ----- USER DROPDOWN -------- */

.dropdown-user .active{
    display: block;
}

.dropdown-content-user{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 20;
    margin-top: 0px;
    margin-left: -180px;
    width: 200px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(172, 172, 172);
}

.dropdown-user {
    position: relative;
}

.user-info {
    width: 100%;
    background-color: rgba(78, 180, 47, 0.7);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.user-info-block{
    width: 180px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}


.user-text{
    height: 20px;
    margin: 0px;
    padding: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

}

.user-name {
    font-size: 15px;
    line-height: 25px;
}

.user-email{
    font-size: 12px;
    line-height: 15px;
    color: rgb(255, 255, 255, 0.8);
}


.user-item-block {
    width: 100%;
    height: 50px;
    color: rgb(59, 59, 59);
    display: block;
    text-decoration: none;
}

.user-item-block:hover{
    background-color: rgba(172, 172, 172, 0.1);
    color: black;
    overflow: hidden;
    background-clip:border-box;
}

.user-item-block .user-item{
    padding-left: 10px;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    line-height: 0px;
}

/* ---CATEGORY --- */
.image-link {
    background: rgb(245, 245, 245);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}